<style>
  /* No external links! Purely targeting the phone's built-in modern code fonts */
  html, body, p, .container, .sidebar, .sidebar-toggle,
  h1, h2, h3, h4, h5, h6, .sidebar-nav-item, .post-title, .masthead-title {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace !important;
  }

  @media (max-width: 48rem) {
    html, body, p, .container, .sidebar, .sidebar-toggle,
    h1, h2, h3, h4, h5, h6, .sidebar-nav-item, .post-title, .masthead-title {
      font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace !important;
    }
  }
</style>
